{% extends "base.html" %}

{% block content %}
<div class="top-container">
	{% include '_nav.html' %}
	{% include '_header.html' %}
</div>
<br>
<h1 class="title">About</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Introduction</h3>
      <p>
        Welcome to the <span>Movies API</span>!
      </p>
      <p>
        Movies API seeks to bring resources related to the Movies Universe.
      </p>
      <p>
        You can explore a wealth of data about movies, like directors, actors and genres. 
      </p>
      <h3>The Idea</h3>
      <p>
        The idea of the Movies API project is to provide a service that provides concise data about the Movies Universe and a simple way to interact with the data and integrate it into your application.
      </p>
      <p>
        The data is available in <a href="https://www.json.org/json-en.html">JSON format</a> and is exposed through a REST implementation that allows you to collect the data programmatically using any programming language or some other specialized tool.
      </p>
      <h3>Features</h3>
      <p>
        We are using technologies like <a href="https://www.djangoproject.com/">Django</a> and <a href="https://www.django-rest-framework.org/">Django REST framework</a> to offer you quality and cool features like <span>Pagination</span> and <span>Search Filter</span>!
      </p>
      <h3>Contribution</h3>
      <p>The project is completely <a href="https://github.com/the-akira/MoviesAPI">open-source</a> and you can contribute to this project in several ways and I will be very grateful to you:</p>
      <ul class="about-list">
        <li>Help to improve the data models</li>
        <li>Share the project in some place</li>
        <li>Use it to create an application for you</li>
        <li>Provide more data for the project</li>
        <li>Donate any small amount of Satoshi to the address: <span>1FdGuC2FiCM6nJs9SW4Lek4D4YuRNRKvrk</span></li>
      </ul>
    </div>
  </div>
</div>
  {% include '_footer.html' %}
{% endblock content %}